/* Profile Card Styling */
.profile-card {
   display: flex;
   flex-direction: column;
   width: 250px;
   height: 290px;
   margin-left: 100px;
   background: linear-gradient(to right, #e6eefb 50%, #27235C 50%);
   overflow: hidden;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   perspective: 1000px;
   transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.profile-card:hover {
   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
   transform: translateY(-10px);
}

.profile-card .card-img-top {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   object-fit: cover;
   margin: 20px auto;
   margin-top: 25px;
}

.profile-card .card-body {
   text-align: center;
}

.profile-card .card-title {
   font-weight: bold;
}

.profile-card .card-text {
   color: #555;
}
.allcont {
   height: 350px;
   margin-top: 20px;
}

/* Count Card Styling */
.count-card {
   position: relative;
   width: 200px;
   height: 200px;
   margin: 20px;
   margin-top: 50px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
   background-color: #e6eefb;
   perspective: 1000px;
   transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.count-card:hover {
   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
   transform: translateY(-10px);
}

.count-inside {
   position: absolute;
   top: 55%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 150px;
   height: 150px;
   background-color: #fff;
   border-radius: 60%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   font-weight: bold;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.count-name {
   color: #27235C;
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.count-recommend {
   color: #27235C;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-left: 100px;
}

.count-scoreprogress {
   color: #27235C;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-left: 100px;
}

.course-card {
   position: relative;
   width: 300px;
   height: 450px;
   margin: 50px;
   margin-left: 100px;
   perspective: 1000px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
   background-color: #e6eefb;
   transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
   transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.course-card:hover {
   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
   transform: rotateY(15deg);
}

.course-inside {
   height: 10em;
   color: white;
 display: block;
 font-family: sans-serif;
 position: relative;
 background-color: rgb(3, 36, 77);
 border-radius: 4px;
 padding: 1em;
 z-index: 0;
 overflow: hidden;
 text-decoration: none !important;
}

.course-content {
   flex: 1 0 auto;
}

.course-typo {
   margin-top: 230px;
   margin-left: 50px;
}

.course-name {
   color: #27235C;
}

.line-graph {
   width: 500px;
   height: 800px;
   margin-left: 70px;
}